/* Project: CSS3 Patternz
 * Description: Generate CSS3 Patterns and the necessary code.
 * Authors: Mohsen Nabiloo-Azimi (@mohsen____), Andrew Henderson (@AndrewHenderson)
 * Start Date: Oct 12, 2011
 */

/* =Reset - http://meyerweb.com/eric/tools/css/reset/
-------------------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* { margin:0; padding:0; }
body { font-family:arial; }
h1 { font:bold 30px/30px 'Michroma' sans-serif;text-shadow: #fff 1px 1px; }
h2 { font-size:16px; line-height:30px; }
.clear{clear: both; height: 0;}
/* =Layout
-------------------------------------------------------------*/

body, html { height: 100%; }
header { height:50px; padding:10px 0 0 15px; }
aside { width:350px; float:left; }
footer { height:100px; width:100%; position:fixed; bottom:0; }

/* =UI
-------------------------------------------------------------*/

.button {
	color: white;
	background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
	background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
	background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
	background-image: -o-linear-gradient(top, #049cdb, #0064cd);
	background-image: linear-gradient(top, #049cdb, #0064cd);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb', endColorstr='#0064cd', GradientType=0);
	box-shadow: inset 0 1px 5px #ccc;
	-moz-box-shadow: inset 0 1px 5px #ccc;
	-webkit-box-shadow: inset 0 1px 5px #ccc;
	-ms-box-shadow: inset 0 1px 5px #ccc;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .3);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-width: 1px;
	border-style:solid;
	border-color: #0064CD #0064CD #003F81;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.4);
	border-radius: 5px;
	line-height: 1.2em;
	font-weight: 700;
	font-size:14px;
	cursor: pointer;
	padding:5px 10px;
}
	.button:hover, .button.hover {
		background-image: #ff5db1; /* Old browsers */
		background-image: -moz-linear-gradient(top, #ff5db1 0%, #ef017c 100%); /* FF3.6+ */
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff5db1), color-stop(100%,#ef017c)); /* Chrome,Safari4+ */
		background-image: -webkit-linear-gradient(top, #ff5db1 0%,#ef017c 100%); /* Chrome10+,Safari5.1+ */
		background-image: -o-linear-gradient(top, #ff5db1 0%,#ef017c 100%); /* Opera11.10+ */
		background-image: -ms-linear-gradient(top, #ff5db1 0%,#ef017c 100%); /* IE10+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5db1', endColorstr='#ef017c',GradientType=0 ); /* IE6-9 */
		background-image: linear-gradient(top, #ff5db1 0%,#ef017c 100%);
	}
	.button.alt {
		background: rgb(255,0,0); /* Old browsers */
		background: -moz-linear-gradient(top, rgb(255,0,0) 0%, rgb(214,0,0) 40%, rgb(188,5,5) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,0,0)), color-stop(40%,rgb(214,0,0)), color-stop(100%,rgb(188,5,5))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgb(255,0,0) 0%,rgb(214,0,0) 40%,rgb(188,5,5) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgb(255,0,0) 0%,rgb(214,0,0) 40%,rgb(188,5,5) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgb(255,0,0) 0%,rgb(214,0,0) 40%,rgb(188,5,5) 100%); /* IE10+ */
		background: linear-gradient(top, rgb(255,0,0) 0%,rgb(214,0,0) 40%,rgb(188,5,5) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#bc0505',GradientType=0 ); /* IE6-9 */
	}
		.button.alt:hover {
			background: rgb(157,213,58); /* Old browsers */
			background: -moz-linear-gradient(top, rgb(157,213,58) 0%, rgb(85,165,9) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(157,213,58)), color-stop(100%,rgb(85,165,9))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, rgb(157,213,58) 0%,rgb(85,165,9) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, rgb(157,213,58) 0%,rgb(85,165,9) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, rgb(157,213,58) 0%,rgb(85,165,9) 100%); /* IE10+ */
			background: linear-gradient(top, rgb(157,213,58) 0%,rgb(85,165,9) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#55a509',GradientType=0 ); /* IE6-9 */
		}

/* =Header
-------------------------------------------------------------*/

header { background:#2d2d2d; border-bottom:1px solid #222; }
header h1 { color:hotpink; float:left; }
  header h1 span { color:#00B2E3; }
nav { margin: 7px 0 0 5px; float:left; }
  nav a { float:left; margin-left:8px; }
#social { margin:10px 0 0 13px; float:left; }
  #social > div { float:left; }

/* =Controls
-------------------------------------------------------------*/

aside {
	overflow-y:scroll; 
	background: -o-linear-gradient(top,#EEE,#E0E0E0);
	background: -webkit-gradient(linear,left top,left bottom,from(#EEE),to(#E0E0E0));
	background: -moz-linear-gradient(top,#EEE,#E0E0E0);
	border-right:1px solid #aaa;
}
aside .layer{ border:1px solid silver; margin:10px; }
	aside .layer .controls{ text-align: right; }
		aside .layer .controls h3{width: 218px; text-align:left; display:inline-block;font-weight: bold;text-shadow: 0 1px white;padding: 5px 0;}
		aside .layer .controls a{ margin: 4px;display: inline-block; }
	aside .maniptool{}
		aside .maniptool .previewWrapper{float:left;font-size: 12px;margin: 0 5px;}
		aside .maniptool .preview{ height: 100px; width:100px; border:1px solid black; margin: 5px 0; background: white; background: url(../img/empty-background.png);}
		aside .maniptool .preview .layerOutput{width:100%; height:100%;}
		aside .maniptool .layerOptions label{display:inline-block; width: 55px;}
		aside .maniptool .layerOptions input{width:50px; margin:0 0 10px 0;}
		aside .maniptool .layerOptions{width: 55px; float:left; margin:0 5px; font-size:10px;}
		aside .maniptool .inspectrom{ height:30px; border: 1px solid #eee; margin: 5px; border-radius: 5px;}
	
aside #add{ width:96%; text-align: center; margin:0 2% }

/* =Content
-------------------------------------------------------------*/

#pattern { margin-left:351px; }

/* =Footer
-------------------------------------------------------------*/

footer { background:#2d2d2d; color:#fff; border-top:1px solid #aaa; }
	footer .resize.handle { height: 5px; background:silver; cursor: row-resize; }
	footer h2 { color:#fff; margin-left:14px; display: inline-block; }
	footer p { margin:0; padding:0; }
	footer #output-header { padding:5px 0; }
	footer .options{ font-size: 13px; display: inline-block; }
		footer .options h5 { display: inline-block; font-weight: bold; }
		footer .options label { cursor: default; }
			footer .options label input { height: 10px; }
	footer #output { width:100%; height: 70px; margin:0; border:none; resize:none; background:black; color:silver; padding:5px 0; overflow:scroll; }

#github { position: absolute; top: 0; right: 0; border: 0; }


/* =Non-semantic helper classes
-------------------------------------------------------------*/

/* Contain floats */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
