/* Project: CSS3 Patternz
 * Description: Generate CSS3 Patterns and the necessary code.
 * Authors: Mohsen Nabiloo-Azimi (@mohsen____), Andrew Henderson (@AndrewHenderson)
 * Start Date: Oct 12, 2011
 */

/* =Reset - http://meyerweb.com/eric/tools/css/reset/
-------------------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* { margin:0; padding:0; }
body { font-family:arial; }
h1 { font:bold 30px/30px 'Michroma' sans-serif;text-shadow: #fff 1px 1px; }
h2 { font-size:16px; line-height:30px; }
.clear{clear: both; height: 0;}

/* =Layout
-------------------------------------------------------------*/

body, html { height: 100%; }
body#home { overflow:hidden; }
header { padding:0 0 0 15px; overflow: hidden; }
aside { width:350px; float:left; }
footer { height:250px; width:100%; position:fixed; bottom:0; }

/* =UI
-------------------------------------------------------------*/
.s{background:url(../img/sprite.png);}
.button {
	color: white;
	background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
	background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
	background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
	background-image: -o-linear-gradient(top, #049cdb, #0064cd);
	background-image: linear-gradient(top, #049cdb, #0064cd);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb', endColorstr='#0064cd', GradientType=0);
	box-shadow: inset 0 1px 5px #ccc;
	-moz-box-shadow: inset 0 1px 5px #ccc;
	-webkit-box-shadow: inset 0 1px 5px #ccc;
	-ms-box-shadow: inset 0 1px 5px #ccc;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .3);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-width: 1px;
	border-style:solid;
	border-color: #0064CD #0064CD #003F81;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.4);
	border-radius: 5px;
	line-height: 1.2em;
	font-weight: 700;
	font-size:14px;
	cursor: pointer;
	padding:5px 10px;
}
	.button:hover, .button.hover, .button.active {
		text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
		background: #60B044;
		filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#8add6d',endColorstr='#60b044');
		background: -webkit-gradient(linear,left top,left bottom,from(#8ADD6D),to(#60B044));
		background: -moz-linear-gradient(top,#8ADD6D,#60B044);
		border-color: #74BB5A;
		border-bottom-color: #509338;
	}
	.button.alt:hover {
		background: rgb(255,0,0); /* Old browsers */
		background: -moz-linear-gradient(top, rgb(255,0,0) 0%, rgb(214,0,0) 40%, rgb(188,5,5) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,0,0)), color-stop(40%,rgb(214,0,0)), color-stop(100%,rgb(188,5,5))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgb(255,0,0) 0%,rgb(214,0,0) 40%,rgb(188,5,5) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgb(255,0,0) 0%,rgb(214,0,0) 40%,rgb(188,5,5) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgb(255,0,0) 0%,rgb(214,0,0) 40%,rgb(188,5,5) 100%); /* IE10+ */
		background: linear-gradient(top, rgb(255,0,0) 0%,rgb(214,0,0) 40%,rgb(188,5,5) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#bc0505',GradientType=0 ); /* IE6-9 */
		border:1px solid #ce0000;
	}

/* =Header
-------------------------------------------------------------*/

header { background: rgb(245,245,245); /* Old browsers */
	background: -moz-linear-gradient(top,  rgb(245,245,245) 0%, rgb(241,241,241) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(245,245,245)), color-stop(100%,rgb(241,241,241))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgb(245,245,245) 0%,rgb(241,241,241) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgb(245,245,245) 0%,rgb(241,241,241) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgb(245,245,245) 0%,rgb(241,241,241) 100%); /* IE10+ */
	background: linear-gradient(top,  rgb(245,245,245) 0%,rgb(241,241,241) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#f1f1f1',GradientType=0 ); /* IE6-9 */
	border-bottom:1px solid #ccc;
}
#home header { border-bottom:0; }
header h1 { height:36px; float:left; padding:7px 0; }
header h1, header h1 a { color:#7cbc0a; display:inline-block; text-decoration:none; }
  header h1 span { color:#555; }
nav { margin: 0 0 0 15px; float:left; overflow:hidden; border-left:1px solid #999; }
  nav a { float:left;vertical-align:middle; padding:17px 20px; margin:0; color:#049cdb; text-decoration:none; border-right:1px solid #999;border-left:1px solid #fff; }
	nav a:hover, nav a.current { color:#fff; border-left:1px solid #70aae5; border-right:1px solid #008ae1; background: rgb(73,192,240); /* Old browsers */
		background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
		background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
		background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
		background-image: -o-linear-gradient(top, #049cdb, #0064cd);
		background-image: linear-gradient(top, #049cdb, #0064cd);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb', endColorstr='#0064cd', GradientType=0); }
#github { float:left;margin-left:15px; text-decoration:none; background:#555; border-radius:100px; color:white; padding:7px 15px; margin-top:10px; }
	#github:hover { background:#7cbc0a; }
#social { margin:10px 0 0 13px; display:inline-block; }
  #social > div { display:inline-block; }

/* =Controls
-------------------------------------------------------------*/

aside {
	background: #999;
	border-right:1px solid #aaa;
	overflow-y:scroll;
}
	aside .layer{background: #eee; }
	aside .layer .sortHandle {height:10px; background: url(../img/grippy.png); cursor: move; margin-bottom:5px; }
		aside .layer .controls {
		  /* cursor: move; */
		  display: block;
		  background-color: #e6e6e6;
		  background-repeat: no-repeat;
		  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
		  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
		  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
		  background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
		  background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
		  background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
		  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
		  padding: 5px;
		  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
		  color: #333;
		  font-size: 13px;
		  line-height: normal;
		  border-top: 1px solid #ccc;
		  border-bottom: 1px solid #bbb;
		  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
		  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
		  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
		  -webkit-transition: 0.1s linear all;
		  -moz-transition: 0.1s linear all;
		  -ms-transition: 0.1s linear all;
		  -o-transition: 0.1s linear all;
		  transition: 0.1s linear all;
		}
			aside .layer .controls .layerName{ width: 180px; text-align:left; display:inline-block;font-weight: bold;text-shadow: 0 1px white;padding: 5px 0 5px 10px; border:1px solid #ddd; border-radius:2px; background:transparent;}
				aside .layer .controls .layerName:focus{ border-color:#bbb; background:#fff; }
			aside .layer .controls a{ margin: 4px;display: inline-block; }
			aside .layer .controls .button { float:right; padding:1px 6px; height:17px; width:7px; margin-right:1px; margin-left:1px; text-align:center; }
			aside .layer .controls .button.minimize { line-height:4px; }
				aside .layer .controls .button.minimize .tip { line-height:20px; }
			aside .layer .controls .button.duplicate { height:14px; padding:2px 6.5px 3px 5.5px; }
		aside .maniptool{ padding:10px; }
			#layerTemplate{display:none;}
			aside .maniptool .previewWrapper{float:left;font-size: 12px;margin: 0 5px;}
			aside .maniptool .preview{ float:left; height: 100px; width:100px; border:1px solid black; margin: 5px 10px 5px 0; background: white; background: url(../img/empty-background.png);}
			aside .maniptool .preview .layerOutput{width:100%; height:100%;}
			aside .maniptool .layerOptions { overflow: hidden; float:left; }
			aside .maniptool .layerOptions label{display:inline-block; float:left; width: 55px; margin-right:5px; }
			aside .maniptool .layerOptions input{width:50px; margin:0 0 10px 0;}
			aside .maniptool .layerOptions{float:left; margin:10px 0 5px; font-size:10px;}
			aside .maniptool .inspectrum{ height:30px; border: 1px solid #333;}
				aside .maniptool .inspectrum .view{float:left;height:100%; width:100%; overflow: hidden; background: url(../img/empty-background.png);position: relative; cursor:pointer;}
				aside .maniptool .viewEditor{float:left; height: 100%; width:25px;}
					aside .maniptool .inspectrum .view .strip{height: 100%; position: absolute;}
	
		aside .addLayer.button{ width:96%; text-align: center; margin:10px 2% 20px; }

		/* aside .minimized.layer .maniptool{padding:0 10px;} */
			aside .minimized.layer .layerOptions, aside .minimized.layer .previewWrapper, .minimized.layer .inspectrumEditor{display:none;}

/*Popups*/
.popup{position: absolute; border: 2px solid gray; box-shadow: 0 0 5px black; background: #ddd;display: none; z-index: 10; }
	.popup .grip{height: 10px; text-align:right;}
.stripEditor{ font-size:10px; }
	.stripEditor .pointers{height:20px; overflow:hidden; position:relative;}
		.stripEditor .pointers .pointer{width:10px; height:18px; position:absolute; cursor:pointer;}
		.stripEditor .pointers .hidden.pointer{display:none;}
		.stripEditor .pointers .arrow{width:10px; height:8px; float:left;}
		.stripEditor .pointers .abstract{width:9px; height:9px; float:left; border:1px solid #000;}
	.stripEditor #manipulate { padding: 0 5px 5px 5px;border: 1px solid #CCC;background: #E5E5E5;margin: 5px 0 0 0; }
		.stripEditor #manipulate .topSection { overflow:hidden; }
		.stripEditor #manipulate .topSection input[type="button"], .manipButton { background-color: transparent;
		background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
		background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
		background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
		background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1));
		background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
		border: 1px solid rgba(0, 0, 0, 0.1);
		color: #444;
		padding:3px 7px 4px;
		border-radius:4px;
		text-decoration:none;
		}
		.stripEditor #manipulate .topSection input[type="button"]:hover, .manipButton:hover {
		background: rgb(238,238,238); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(224,224,224,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(224,224,224,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(224,224,224,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(224,224,224,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(224,224,224,1) 100%); /* IE10+ */
		background: linear-gradient(top, rgba(238,238,238,1) 0%,rgba(224,224,224,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
		border-color:#ccc;
		color:#333;
		box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);
	}
		.stripEditor #manipulate .opacity { margin: 5px 0;overflow:hidden; }
			.stripEditor #manipulate .opacity label { float:left;margin:4px 5px 0 0; }
			.stripEditor #manipulate .opacity input { float:left; }
			.stripEditor #manipulate .opacity output { float:left; margin:4px 0 0 5px; }
	.stripEditor .color {float:left;overflow:hidden;margin-left:10px;}
		.stripEditor .color .colorbox, .colorPreview {float:left;margin:5px 5px 0 0;}
			.colorPreview{width:100%; height:100%;}
		.stripEditor .color input{display:inline-block; width:60px;} */
	.stripEditor .startend{font-size:10px;}
		.stripEditor .startend label{}
		.stripEditor .startend input{width:50px;}
	.stripEditor .nextprev{ float:left;padding:9px 0 0 0; }
		.stripEditor .nextprev input{cursor:pointer;}

/* =Content
-------------------------------------------------------------*/

#pattern { margin-left:351px; border-top:1px solid #CCC; }

.alignLeft { float:left; margin-right:15px; padding:5px; background:#ddd; border:1px solid #bbb; }

.vcard { padding:15px }
	.vcard h2 { font-weight:bold; font-size:20px; }
	.vcard p { margin:10px 0; }

/* =Footer
-------------------------------------------------------------*/

footer { background: rgb(245,245,245); /* Old browsers */
	background: -moz-linear-gradient(top,  rgb(245,245,245) 0%, rgb(241,241,241) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(245,245,245)), color-stop(100%,rgb(241,241,241))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgb(245,245,245) 0%,rgb(241,241,241) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgb(245,245,245) 0%,rgb(241,241,241) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgb(245,245,245) 0%,rgb(241,241,241) 100%); /* IE10+ */
	background: linear-gradient(top,  rgb(245,245,245) 0%,rgb(241,241,241) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#f1f1f1',GradientType=0 ); /* IE6-9 */ color:#333; }
	footer .resize.handle { height: 6px; background:silver; cursor: row-resize; }
	footer h2 { color:#333; margin-left:14px; display: inline-block; }
	footer p { margin:0; padding:0; }
	footer #output-header { padding:5px 0; }
	footer .options{ font-size: 13px; display: inline-block; }
			footer .options label { -webkit-user-select: none; }
		footer .options h5 { display: inline-block; font-weight: bold; }
		footer .options label { cursor: default; }
			footer .options label input { height: 10px; }
	footer .outputWrapper{padding:0 15px 0 5px;}
	footer .outputWrapper textarea { width:100%; height: 220px; margin:0; border:none; resize:none; background:black; color:silver; padding:5px; overflow:scroll; }



/* About us page*/

.aboutus{padding: 20px; background:#fafaff}
	.aboutus h1, .aboutus h2{margin:10px 0; font-family: 'Michroma' sans-serif; color:#444; text-shadow: 0 1px 1px white;}
	.aboutus h1{line-height: 2em; font-size:1.5em}
	.aboutus h2{line-height:1.5em; font-size:1.3em;}
	.aboutus p{line-height:24px; font-size:16px; margin:10px 0; color:#666;}
	.aboutus a{color:#049CDB; text-decoration: none;}
	.aboutus code{font-family: monospace; background:#eee; color:black; padding:0 5px;}
	.aboutus table{width:100%; border:1px solid #7CBC0A;}
		.aboutus td{padding:5px;}
		.aboutus tr:nth-child(odd){background: #888; color:white; }
		.aboutus tr:first-child{background:#7CBC0A; color:white;}


/* =Non-semantic helper classes
-------------------------------------------------------------*/

/* Contain floats */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }


/* =jQuery Plugins
-------------------------------------------------------------*/

/*--- :[ Tooltip ]: ---*/

.tip-trigger {
	position:relative;
}
.tip {
	color: #fff;
	background:#1d1d1d;
	display:none; /*--Hides by default--*/
	padding:5px;
	font-size:10px;
	position:absolute;
	z-index:1000;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	top:-32px;
	left:-5px;
	width:94px;
	text-align:center;
	line-height:16px;
	}
	.tip.wide { 
		width:170px;
	}
	.tip-arrow {
		background:url(../img/sprite.png) -33px 0 no-repeat;
		width:7px;
		height:5px;
		display:block;
		position:absolute;
		top:26px;
		left:7px;
	}
		.avatar-holder .tip-arrow {
			top:34px;
		}

/*--- :[ jPicker ]: ---*/

.jPicker tr, .jPicker td { vertical-align:top; }

.jPicker .Icon {
  display: inline-block;
  height: 24px; /* change this value if using a different sized color picker icon */
  position: relative; /* make this element an absolute positioning container */
  text-align: left; /* make the zero width children position to the left of container */
  width: 25px; /* change this value if using a different sized color picker icon */
}
.jPicker .Icon span.Color, .jPicker .Icon span.Alpha {
  background-position: 2px 2px;
  display: block;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.jPicker .Icon span.Image {
  background-repeat: no-repeat;
  cursor: pointer;
  display: block;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.jPicker.Container {
  color: #000;
  z-index: 10;
}
table.jPicker {
  background-color: #efefef;
  border: 1px outset #666;
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 12px !important;
  margin: 0px;
  padding: 5px;
  width: 545px;
  z-index: 20;
}
.jPicker .Move {
  background-color: #dddddd;
  border-color: #fff #666 #666 #fff;
  border-style: solid;
  border-width: 1px;
  cursor: move;
  height: 12px;
  padding: 0px;
}
.jPicker .Title {
  font-size: 11px !important;
  font-weight: bold;
  margin: -2px 0px 0px 0px;
  padding: 10px 0px 0px 0px;
  text-align: center;
  width: 100%;
}
.jPicker div.Map {
  border-bottom: 2px solid #fff;
  border-left: 2px solid #9a9a9a;
  border-right: 2px solid #fff;
  border-top: 2px solid #9a9a9a;
  cursor: crosshair;
  height: 260px; /* IE 6 incorrectly draws border inside the width and height instead of outside - We will fix this to 256px later */
  margin: 0px 10px 10px 10px;
  overflow: hidden; /* hide the overdraw of the Color Map icon when at edge of viewing box */
  padding: 0px;
  position: relative; /* make this element an absolute positioning container */
  width: 260px; /* IE 6 incorrectly draws border inside the width and height instead of outside - We will fix this to 256px later */
}
.jPicker div[class="Map"] {
  height: 256px; /* correct to 256px for browsers that support the "[class="xxx"]" selector (IE7+,Firefox,Safari,Chrome,Opera,etc.) */
  width: 256px; /* correct to 256px for browsers that support the "[class="xxx"]" selector (IE7+,Firefox,Safari,Chrome,Opera,etc.) */
}
.jPicker div.Bar {
  border-bottom: 2px solid #fff;
  border-left: 2px solid #9a9a9a;
  border-right: 2px solid #fff;
  border-top: 2px solid #9a9a9a;
  cursor: n-resize;
  height: 260px; /* IE 6 incorrectly draws border inside the width and height instead of outside - We will fix this to 256px later */
  margin: 12px 10px 0px 5px;
  overflow: hidden;
  padding: 0px;
  position: relative;
  width: 24px; /* IE 6 incorrectly draws border inside the width and height instead of outside - We will fix this to 20px later */
}
.jPicker div[class="Bar"] {
  height: 256px; /* correct to 256px for browsers that support the "[class="xxx"]" selector (IE7+,Firefox,Safari,Chrome,Opera,etc.) */
  width: 20px; /* correct to 20px for browsers that support the "[class="xxx"]" selector (IE7+,Firefox,Safari,Chrome,Opera,etc.) */
}
.jPicker .Map .Map1, .jPicker .Map .Map2, .jPicker .Map .Map3, .jPicker .Bar .Map1, .jPicker .Bar .Map2, .jPicker .Bar .Map3, .jPicker .Bar .Map4, .jPicker .Bar .Map5, .jPicker .Bar .Map6 {
  background-color: transparent;
  background-image: none;
  display: block;
  left: 0px;
  position: absolute;
  top: 0px;
}
.jPicker .Map .Map1, .jPicker .Map .Map2, .jPicker .Map .Map3 {
  height: 2596px;
  width: 256px; /* must specify pixel width. IE7/8 Quirks mode ignores opacity for an absolutely positioned item in a relative container with "overflow: visible". The marker in the colorBar
                   would not be drawn if its overflow is set to hidden. */
}
.jPicker .Bar .Map1, .jPicker .Bar .Map2, .jPicker .Bar .Map3, .jPicker .Bar .Map4 {
  height: 3896px;
  width: 20px; /* must specify pixel width. IE7/8 Quirks mode ignores opacity for an absolutely positioned item in a relative container with "overflow: visible". The marker in the colorBar
                  would not be drawn if its overflow is set to hidden. */
}
.jPicker .Bar .Map5, .jPicker .Bar .Map6 {
  height: 256px;
  width: 20px; /* must specify pixel width. IE7/8 Quirks mode ignores opacity for an absolutely positioned item in a relative container with "overflow: visible". The marker in the colorBar
                  would not be drawn if its overflow is set to hidden. */
}
.jPicker .Map .Map1, .jPicker .Map .Map2, .jPicker .Bar .Map6 {
  background-repeat: no-repeat;
}
.jPicker .Map .Map3, .jPicker .Bar .Map5 {
  background-repeat: repeat;
}
.jPicker .Bar .Map1, .jPicker .Bar .Map2, .jPicker .Bar .Map3, .jPicker .Bar .Map4 {
  background-repeat: repeat-x;
}
.jPicker .Map .Arrow {
  display: block;
  position: absolute;
}
.jPicker .Bar .Arrow {
  display: block;
  left: 0px; /* (arrow width / 2) - (element width / 2) - position arrows' center in elements' center */
  position: absolute;
}
.jPicker .Preview {
  font-size: 9px;
  padding: 5px 0px 0px 0px;
  text-align: center;
}
.jPicker .Preview div {
  border: 2px inset #eee;
  height: 62px;
  margin: 0px auto;
  padding: 0px;
  width: 62px;
}
.jPicker .Preview div span {
  border: 1px solid #000;
  display: block;
  height: 30px;
  margin: 0px auto;
  padding: 0px;
  width: 60px;
}
.jPicker .Preview .Active {
  border-bottom-width: 0px;
}
.jPicker .Preview .Current {
  border-top-width: 0px;
  cursor: pointer;
}
.jPicker input {
  font-size: 13px;
}
.jPicker .Button {
  text-align: center;
  padding: 0px 4px;
  width: 115px;
}
.jPicker .Button input {
  padding: 2px 0px;
  width: 100px;
}
.jPicker .Button .Ok {
  margin: 12px 0px 5px 0px;
}
.jPicker td {
  margin: 0px;
  padding: 0px;
}
.jPicker td.Radio {
  margin: 0px;
  padding: 0px;
  width: 31px;
}
.jPicker td.Radio input {
  margin: 0px 5px 0px 0px;
  padding: 0px;
}
.jPicker td.Text {
  font-size: 12px !important;
  height: 22px;
  margin: 0px;
  padding: 0px;
  text-align: left;
  width: 70px;
}
.jPicker tr.Hex td.Text {
  width: 100px;
}
.jPicker td.Text input {
  background-color: #fff;
  border: 1px inset #aaa;
  height: 19px;
  margin: 0px 0px 0px 5px;
  text-align: left;
  width: 30px;
}
.jPicker td[class="Text"] input {
  height: 15px;
}
.jPicker tr.Hex td.Text input.Hex {
  width: 50px;
}
.jPicker tr.Hex td.Text input.AHex {
  width: 20px;
}
.jPicker .Grid {
  text-align: center;
  width: 114px;
}
.jPicker .Grid span.QuickColor {
  border: 1px inset #aaa;
  cursor: pointer;
  display: inline-block;
  height: 15px;
  line-height: 15px;
  margin: 0px;
  padding: 0px;
  width: 19px;
}
.jPicker .Grid span[class="QuickColor"] {
  width: 17px;
}

/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.jspContainer
{
	overflow: hidden;
	position: relative;
}

.jspPane
{
	position: absolute;
}

.jspVerticalBar
{
	position: absolute;
	top: 0;
	right: 0;
	width: 16px;
	height: 100%;
	background: transparent;
}

.jspHorizontalBar
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 16px;
	background: transparent;
}

.jspVerticalBar *,
.jspHorizontalBar *
{
	margin: 0;
	padding: 0;
}

.jspCap
{
	display: none;
}

.jspHorizontalBar .jspCap
{
	float: left;
}

.jspTrack
{
	background: transparent;
    width: 9px;
	position: relative;
}

.jspDrag
{
    background:#a18ca6;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b2a0b3', endColorstr='#533d5d');
    background-image: -moz-linear-gradient(top, #b2a0b3, #a18ca6, #a17ca6, #533d5d);
    background-image: -webkit-linear-gradient(top, #b2a0b3, #a18ca6, #a17ca6, #533d5d);
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
	border-radius:100px;
	-moz-border-radius:100px;
    -webkit-border-radius:100px;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
	float: left;
	height: 100%;
}

.jspArrow
{
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}

.jspArrow.jspDisabled
{
	cursor: default;
	background: #80808d;
}

.jspVerticalBar .jspArrow
{
	height: 16px;
}

.jspHorizontalBar .jspArrow
{
	width: 16px;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
	outline: none;
}

.jspCorner
{
	background: #eeeef4;
	float: left;
	height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
	margin: 0 -3px 0 0;
}